page{font-family:cursive;
text-align:center;
color:white;
border: 5px double rgb(81, 59, 8);

}
body{background-color:black;}
li{text-align:left;}
.sheets{text-align:left}
.links{cursor:pointer;}
a:link{color:burlywood;
text-decoration:none;
}
a:visited{color:burlywood}
h1{text-align:center;
    
    margin:auto;
    width:250px;
border: 3px solid rgb(81, 59, 8);
border-top:hidden;
border-right:hidden;
border-left:hidden;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.border{border-bottom: 3px solid rgb(81, 59, 8);
    border-radius:300px;
    background-image:url(images/najdima.png)
}
img{width:1100px; height:900px;
    min-width:10px; min-height:10px;
    max-width:1100px; max-height: 900px;
}
ul{list-style-type:none;}
