h3{text-align: left;}
#deitiesdrow{color:#FEFCD7;}
#deitiesaelfir{color:#FDB813 ;}
#border{border:3px solid;
    border-top:hidden;
    border-right:hidden;
    border-left:hidden;
    border-bottom-color:gold;border-radius: 60px;}
    #races{color:indianred;
    font-size:larger;
}